nick: YourNick-Mobile
user: YourNick-Mobile
real: your@mail.addr
apikey: ########################################

watchlist:
  - YourNick
  - Your
  - Name
  - Or
  - Topic

servers:
  - host: chat.freenode.net
    channels: [ '#foo', '#test' ]
  - host: irc.hackint.org
    channels: [ '#bar', '#bla' ]
